    html, body, div, span, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    abbr, address, cite, code,
    del, dfn, em, img, ins, kbd, q, samp,
    small, strong, sub, sup, var,
    b, i,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section, summary,
    time, mark, audio, video {
        margin:0;
        padding:0;
        border:0;
        outline:0;
        font-size:100%;
        vertical-align:baseline;
        background:transparent;
    }

    body {
        line-height:1;
    }

    img{
        max-width: 100%;
    }

    article,aside,details,figcaption,figure,
    footer,header,hgroup,menu,nav,section { 
        display:block;
    }

    nav ul {
        list-style:none;
    }

    blockquote, q {
        quotes:none;
    }

    blockquote:before, blockquote:after,
    q:before, q:after {
        content:'';
        content:none;
    }

    a {
        margin:0;
        padding:0;
        font-size:100%;
        vertical-align:baseline;
        background:transparent;
        color: #ffffff;
    }

    ins {
        background-color:#ff9;
        color:#000;
        text-decoration:none;
    }

   
    mark {
        background-color:#ff9;
        color:#000; 
        font-style:italic;
        font-weight:bold;
    }

    del {
        text-decoration: line-through;
    }

    abbr[title], dfn[title] {
        border-bottom:1px dotted;
        cursor:help;
    }

    table {
        border-collapse:collapse;
        border-spacing:0;
    }

    /* change border colour to suit your needs */
    hr {
        display:block;
        height:1px;
        border:0;   
        border-top:1px solid #cccccc;
        margin:1em 0;
        padding:0;
    }

    input, select {
        vertical-align:middle;
    }
/*@font-face {
    font-family: 'lato_regular';
    src: url('fonts/lato-regular.eot');
    src: url('fonts/lato-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-regular.woff') format('woff'),
         url('fonts/lato-regular.ttf') format('truetype'),
         url('fonts/lato-regular.svg#LatoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'lato_bold';
    src: url('fonts/lato-bold.eot');
    src: url('fonts/lato-bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-bold.woff') format('woff'),
         url('fonts/lato-bold.ttf') format('truetype'),
         url('fonts/lato-bold.svg#LatoBold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'avantgardelt-extralight';
    src: url('fonts/avantgardelt-extralight.eot');
    src: url('fonts/avantgardelt-extralight.eot?#iefix') format('embedded-opentype'),
         url('fonts/avantgardelt-extralight.woff') format('woff'),
         url('fonts/avantgardelt-extralight.ttf') format('truetype'),
         url('fonts/avantgardelt-extralight.svg#avantgardelt-extralight') format('svg');
    font-weight: normal;
    font-style: normal;

}*/





.wrapper{
	max-width: 1200px;
	height: auto;
	margin: 0 auto;
    position: relative;
}

::selection {color:#ffffff;background:#353434;}
::-moz-selection {color:#ffffff;background:#353434;}

.feature a,
.cta a.cta_btn,
.testimonials #t_navigation a,
header ul.social li a,
header nav ul li a{
	transition:all .2s linear;
	-webkit-transition:all .2s linear;
	-moz-transition:all .2s linear;
	-o-transition:all .2s linear;
}


/*Header*/

header{
    width: 100%;
    height: 80px;
    background: #353434;
}

header .logo{
    float: left;
    margin-top: 21px;
    /*margin-left: 30px;*/
    font-size: 2em;
    color: white;
    font-family: 'Lobster', cursive;
}


header .right_nav{
    overflow: hidden;
    display: inline-block;
    margin: 20px 40px 0 0;
    padding: 13px 40px;
    z-index: 9999;
    list-style: none;
    float: right;
}

header .right_nav li{
    float: right;
    margin-left: 35px;
    font-size: 16px;
    font-family: 'lato_regular', arial;
    letter-spacing: 1px;
}

header .right_nav li:last-child{
    margin-right: 0;
}

header .right_nav li a{
    text-decoration: none;
    color: #fff;
}

header .right_nav li a:hover{
    color: #65bf95;
}

.billboard{
    width: 100%;
    height: 580px;
    background: url(../images/billboard.jpg) no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    overflow: hidden
}

.billboard .caption{
    margin-left: 400px;
    margin-top: 80px;
}

.billboard .caption p{
    display: inline-block;
    color: #000;
    font-family: 'PT Mono', arial;
    font-weight: lighter;
    font-size: 30px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.6);
    margin-bottom: 2px;
    text-transform: uppercase;
    z-index: 8888;
}

.blocks{
    width: 100%;
    padding-top: 100px;
    background: #f7f7f7;
    overflow: hidden;
}

.blocks .block{
    display: block;
    width: 28.83333333333333%;
    height: auto;
    float: left;
    margin-right: 6.666666666666667%;
    margin-bottom: 100px;
}

.blocks .block:nth-child(3n+0){
    margin-right: 0px;
}

.block .icon{
    display: block;
    width: 19%;
    float: left;
    margin-right: 11%;
}

.block .desc{
    display: block;
    width: 69%;
    float: left;
}

.desc h3{
    margin-bottom: 20px;
    color: #767575;
    /*font-family: "lato_bold", arial;*/
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
}

.desc p{
    margin-bottom: 20px;
    color: #9e9e9e;
 
    font-size: 15px;
    line-height: 22px
}

.devs{
    text-align: center;
    padding-bottom: 10px;
}

.devs h2{
    color: #4e4e4e;
    font-family: 'PT Mono', arial;
    font-size: 26px;
    padding-top: 20px;
    text-transform: uppercase;
    margin-bottom: 80px;
    letter-spacing: 1px;
}

.devs .slider{
    max-width: 1040px !important;
    height: auto;
    overflow: hidden;
}

.devs .slider .dev{
    max-width: 1040px!important;
    text-align: center;
    float: left;
    height: 160px;
}

.devs p{
    color: #8e8d8d;
    font-family: 'PT Mono', arial;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
    margin-left: 170px;
}

.devs p.author{
    color: #686767;
    font-family: 'PT Mono', arial;
    font-size: 16px;
    font-weight: bold;
    margin-top: 40px;
    margin-left: 170px;
}

.devs #t_navigation a{
    display: inline-block;
    width: 13px;
    height: 13px;
    background: #dadada;
    text-decoration: none;
    margin-right: 10px;
    margin-top: 40px;

    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
}

.dev #t_navigation a.selected{
    background: #bebebe;
}

.contact{
    padding-top: 20px;
    padding-bottom: 10px;
    background: #f7f7f7;
}

.contact .info{
    width: 50%;
    float: left;
}

.contact h2{
    color: #000;
    font-family: 'PT Mono', arial;
    font-weight: lighter;
    font-size: 30px;
    padding: 20px;
    margin-left: 350px;
}

.info h3{
    color: #000;
    font-family: 'PT Mono', arial;
    font-weight: lighter;
    font-size: 20px;
    padding: 10px;
}

.info p{
    color: #000;
    font-family: 'PT Mono', arial;
    font-weight: lighter;
    font-size: 18px;
    padding: 25px 10px;
}

.form fieldset{
    padding: 0 26px;
    margin: 0 auto;
}

.form fieldset p{
    color: #777;
    margin-bottom: 14px;
    margin-top: 6px;
    margin-left: 48px;
    font-family: 'PT Mono', arial;
    font-weight: lighter;
}

.form fieldset input{
    background-color: #eee;
    color: #777;
    padding: 4px 10px;
    width: 328px;
}

.form fieldset textarea{
    width: 328px;
    height: 100px;
    background-color: #eee;
    color: #777;
    padding: 4px 10px;
    resize: none;
}

.form fieldset input[type="submit"] {
    background-color: #65bf95;
    color: #fff;
    display: block;
    margin: 0 100px;
    padding: 10px 0;
    width: 150px;
    height: 50px;
    cursor:pointer;
    border: 0;
    font-size: 16px;
}

.form fieldset input[type="submit"]:hover {
    background-color: #28ad63;
}

.form .remark{
    color: #777;
    margin-top: 6px;
    font-family: 'PT Mono', arial;
    font-weight: lighter;
    font-size: 10px;
}

footer{
    padding: 100px 0;
    text-align: center;
    margin-top: 20px;
}

footer h1{
    color: white;
    font-family: 'Lobster', cursive;
    color: #3b3b3b;
    font-size: 4em;   
}

footer .rights{
    color: #3b3b3b;
    font-family: "lato_regular", arial;
    font-size: 14px;
    margin-top: 30px;
    line-height: 25px;
}

.modal {
    width: 500px; 
    height: 500px;
    border: 1px #000 solid;
    background: #fff;
    position: fixed;
    top: 30%;
    left: 50%;
    margin: 0 auto;
    margin-top: -150px;
    margin-left: -217px;
    display: none;
    opacity: 0;
    z-index: 5;
}

#login{
    height: 300px;
}

.modal .modal_close {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 25px;
    right: 10px;
    cursor: pointer;
    display: block;
    color: #fff;
    margin-right: 14px;
    margin-top: 4px;
    font-family: 'PT Mono', arial;
    font-weight: lighter;
}

.modal h2 {
    background-color: black;
    opacity: 0.8;
    color: #fff;
    font-size: 28px;
    padding: 20px 48px;
    font-family: 'PT Mono', arial;
    font-weight: lighter;
}

.modal fieldset {
    background-color: #fff;
    padding: 0 26px;
    margin: 0 auto;
}

.modal fieldset p {
    color: #777;
    margin-bottom: 14px;
    margin-top: 6px;
    margin-left: 48px;
    font-family: 'PT Mono', arial;
    font-weight: lighter;
}

.modal fieldset p:last-child {
    margin-bottom: 5px;
}

.modal fieldset input {
    background-color: #eee;
    color: #777;
    padding: 4px 10px;
    width: 328px;
}

.modal fieldset input[type="submit"] {
    background-color: #65bf95;
    color: #fff;
    display: block;
    margin: 0 100px;
    padding: 10px 0;
    width: 150px;
    height: 50px;
    cursor:pointer;
    border: 0;
    font-size: 16px;
}

.modal fieldset input[type="submit"]:hover {
    background-color: #28ad63;
}

#overlay {
    z-index: 3;
    position: fixed;
    background-color: #000;
    opacity: 0.8;
    width: 100%; 
    height: 100%;
    top: 0; 
    left: 0;
    cursor: pointer;
    display: none;
}
